body{
    margin: 0;
    padding: 0;
    background-color: white;
}
ul{
    width: 100%;
    margin: 0 0 0 250px;
    list-style: none;
}
li{
    float: left;
}
li a{
    width: 150px;
    display: block;
    padding: 30px 25px;
    text-decoration:none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:darkblue;
    text-align: center;
}
li a:hover{
    background: grey;
    text-transform: uppercase ;
}
.logo img{
    position: absolute;
    margin-top: 3px;
    margin-left: 110px;
}
footer{ 
    position: 3rem; 
    background: gray; 
    height: auto; 
    width: 150vw; 
    padding-top: 10px; 
    color: black; 
    letter-spacing: normal;
    text-align: center;
}